---
import MainScreenWrapper from "../layouts/MainScreenWrapper.astro";
---

<MainScreenWrapper title="Inicio" description="Bienvenido a mi portafolio personal, donde comparto mis proyectos, biografía y blog.">
  <section class="min-h-screen flex justify-center items-center">
    <span class="text-6xl">Hola! mi nombre es Marco y este es mi portafolio</span>
  </section>
</MainScreenWrapper>
