---
import "../../styles/global.css";
import "@fontsource/google-sans";
import Head from "../common/Head.astro";
import { ThemeToggle } from "../ThemeToggle";
import Header from "../common/Header/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="es" class="dark">
  <Head title={title} description={description} />
  <body class={`bg-light dark:bg-dark transition-colors duration-300`}>
    <Header />
    <main class="relative min-h-screen">
      <slot />
      <div class="fixed bottom-4 right-4 bg-white/10 dark:bg-black/10">
        <ThemeToggle client:load />
      </div>
    </main>
  </body>
</html>
